*{
	margin:0;
	padding:0;
}

body{
	font-family:sans-serif;
	

    
}

.navbar{
	background-color:#F0F7F0;
	font-size:1.1em;
	
}

.navbar-default .navbar-brand {
	color:#5FCF80;
}

.navbar-default .navbar-nav li a{
	color:#717f86;
} 

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a.active{
	color:#717f86;
} 

.banner{
	background: url('images/banner.jpg') no-repeat center top;
    background-size: cover;
	min-height: 400px;
    position: relative;
}
.bg-color{
	background-color: RGBA(12, 11, 11, 0.82);
	min-height: 400px;
}
.text-dec{
	font-size: 24px;
	padding: 10px 20px;
    margin: 15px 0;
	text-transform: uppercase;
    color: #fff;
}
.text-border{
	border: 5px solid #5FCF80;
	display: inline-block;
	margin-top: 150px;
}
.intro-para{
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 45px;
	color: #fff;
	margin-top: 30px;
}
.quote .btn{
    background-color:
}



.modal-content h4 {
    font-size: 1.5em;
    font-weight: 700;
}
.login-box-body {
    padding: 15px 30px;
}
.login-box-msg, .register-box-msg {
    margin: 0px;
    text-align: center;
    padding: 0px 20px 20px;
}
.modal-sm {
    width: 400px;
}
.padleft-right{
    padding-left: 5px;
    padding-right: 0px;
}
.big-text{
    font-size: 35px;
}
.small-text{
    font-size: 16px;
}


.landing-text{
	margin-top:80px;
	text-align:center;
	vertical-align:middle;
	margin-bottom:80px;
	color:#D5D5D5;
	font-family:sans-serif;
}

.landing-text h1{
	font-size:400%;
	font-weight:400;
	
}




